{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category }}</h2>

    <ul>
        {% for listing in avail_listings %}
            <li>
                <h3>{{ listing.title }}</h3>
                <p>
                    <em>Description:</em> {{ listing.description }}<br>
                    <em>Starting Bid:</em> ${{ listing.starting_bid}}<br>
                    <em>Image Link:</em> {{ listing.image }}<br>
                    <em>Category:</em> {{ listing.category }}
                </p>
            </li>
        {% empty %}
            <li>No active listings.</li>
        {% endfor %}
    </ul>

{% endblock %}