{% extends "auctions/layout.html" %}

{% block body %}
    <p class="display-5">{{ category }}</p>

    <ul>
        {% for listing in avail_listings %}
            <li>
                <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
                <p>
                    <em>Description:</em> {{ listing.description }}<br>
                    <em>Starting Bid:</em> ${{ listing.starting_bid}}<br>
                    <em>Image Link:</em> {{ listing.image }}<br>
                    <em>Category:</em> {{ listing.category }}<br>
                    <em>Seller:</em> {{ listing.seller }}
                </p>
            </li>
        {% empty %}
            <li>No active listings.</li>
        {% endfor %}
    </ul>

{% endblock %}