{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in auction_listings %}
            <li>
                <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
                <p>
                    <em>Description:</em> {{ listing.description }}<br>
                    <em>Current Price:</em> ${{ listing.current_price.bid}}<br>
                    <em>Image Link:</em> {{ listing.image }}<br>
                    <em>Seller:</em> {{ listing.seller }}
                </p>
            </li>
        {% empty %}
            <li>No active listings.</li>
        {% endfor %}
    </ul>

{% endblock %}