{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <p>
        {{ listing.image }}
    </p>
    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing_id=listing.id watching=watching %}" method="post">
            {% csrf_token %}
            {% if watching %}
                <input class="btn btn-primary" type="submit" value="Remove from watchlist">
            {% else %}
                <input class="btn btn-primary" type="submit" value="Add to watchlist">
            {% endif %}
        </form>
    {% endif %}
    <p>
        <h4>Description</h4>
        {{ listing.description }}
    </p>
    <p>
        <h4>Current Price</h4>
        ${{ listing.current_price.bid }}
    </p>
    <p>
        <form action="{% url 'create_bid' listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        {% if error_bid %}
            Invalid bid! Bid must be at least equal to the starting bid and must be greater than the current price.
        {% endif %}
    </p>
    <p>
        <h4>Starting Bid</h4>
        ${{ listing.starting_bid }}
    </p>
    <p>
        <h4>Category</h4>
        {{ listing.category }}
    </p>
    <p>
        <h4>Seller</h4>
        {{ listing.seller }}
    </p>

{% endblock %}