{% extends "auctions/layout.html" %}

{% block body %}
    <p class="display-5">{{ listing.title }}</p>

    <div class="bd-example">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">{{ listing.image }}</text></svg>
    </div>
    

    {% if user.is_authenticated %}
    <p>
        <div>
            <form action="{% url 'toggle_watchlist' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                {% if watching %}
                    <button class="btn btn-outline-light" type="submit"><i class="heart fa fa-heart" style="font-size: 25px; color: green;"></i></button>
                {% else %}
                    <button class="btn btn-outline-light" type="submit"><i class="heart fa fa-heart-o" style="font-size: 25px; color: green;"></i></button>
                {% endif %}
            </form>
        </div>
        
        {% if listing.active %}
            {% if user == listing.seller %}
            <p>
                <form action="{% url 'close_bid' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Close Listing</button>
                </form>
            </p>
            {% endif %}
        {% else %}
            {% if user == listing.seller %}
            <p>
                <form>
                    <fieldset disabled>
                        <div>
                            <button class="btn btn-primary" type="submit">Close Listing</button>
                        </div>
                        
                    </fieldset>
                </form>
            <p>
            
            {% endif %}
            <p>Listing closed. 
                {% if user == listing.current_price.bidder %}
                    You won this bid.
                {% endif %}
            </p>
        {% endif %}
        </p>
    {% endif %}

    <p>
        <p class="display-6">Description</p>
        {{ listing.description }}
    </p>
    <p>
        <p class="display-6">Current Price</p>
        ${{ listing.current_price.bid }}
    </p>
    {% if listing.active and user.is_authenticated %}
        <p>
            <form action="{% url 'create_bid' listing.id %}" method="post">
                {% csrf_token %}
                {{ bidding_form }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            {% if error_bid %}
                Invalid bid! Bid must be at least equal to the starting bid and must be greater than the current price.
            {% endif %}
        </p>
    {% endif %}

    <p>
        <p class="display-6">Starting Bid</p>
        ${{ listing.starting_bid }}
    </p>
    
    {% if listing.category %}
        <p>
            <p class="display-6">Category</p>
            {{ listing.category }}
        </p>
    {% endif %}
    <p>
        <p class="display-6">Seller</p>
        {{ listing.seller }}
    </p>

    <div>
        <p class="display-6">Comments</p>
        <hr>
        {% if user.is_authenticated %}
            <p>
                <form action="{% url 'comment' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-text">Your comment</span>
                        {{ comment_form.message }}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </p>
        {% endif %}

        {% for comment in comments %}
            <ul>
                <li>
                    <h6>{{ comment.author }}</h6>
                    {{ comment.message }}
                </li>
            </ul>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>

{% endblock %}