{% extends "auctions/layout.html" %}

{% block body %}
    <p class="display-5">Watchlist</p>

    <hr>

    <div class="row  row-cols-1 row-cols-md-4 g-4">
        {% for listing in avail_listings %}
            <div class="col">
                <div class="card">
                    {% if listing.image %}
                        <img src="{{ listing.image }}" alt="Product image" width="300" height="200">
                    {% else %}
                        <img src="../static/auctions/no_image.jpg" alt="No image" width="300" height="200">
                    {% endif %}

                    <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text"><strong>${{ listing.current_price.bid }}</strong></p>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No listings in watchlist.</p>
        {% endfor %}
    </div>

{% endblock %}